/*
    Document   : livescore
    Created on : 04-04-2012, 22:55:40
    Author     : kristofferarrildasmussen
    Description:
        Purpose of the stylesheet follows.
*/

root {
  display: block;
}
.livescore-day-wrap {
  border: 1px solid #dadada;
  max-width: 500px;
  padding: 5px 5px;
  margin: 5px 0;
}
.livescore-wrap {
  border: 1px #dadada ridge;
  margin: 3px 0;
}
.livescore-match-body {
  padding: 3px;
}
.livescore-wrap h4 {
  margin: 2px 0 1px;
}
.livescore-result-wrap span.result_guest, .livescore-result-wrap span.result_home {
  float: right;
}
.livescore-set-details {
  float: right;
}
.livescore-result-wrap {
  float: right;
  clear: right;
}
.livescore-teams-wrap {
  float: left;
}
.livescore-set-wrap {
  float: left;
  padding: 0 4px;
  border-right: 1px solid #dadada;
}
.livescore-set-wrap span, .livescore-result-wrap span.result_guest, .livescore-result-wrap span.result_home {
  display: block;
  text-align: center;
  float: none;
}
.livescore-teams-wrap span {
  display: block;
  text-align: left;
}
.livescore-wrap hr {
  clear: both;
}
